.header-sticky {
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.header {
    position: relative;
    width: 1920px;
    height: 100px;
    top: -3px;
    box-shadow: 0px 0px 3px 0px #00000040;
}

.header__logo {
    position: absolute;
    width: 103px;
    height: 85px;
    top: 8px;
    left: 53px;
}

.header__text {
    position: absolute;
    width: 305px;
    height: 26px;
    top: 37px;
    left: 181px;
    font-family: Spline Sans;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.header__button {
    position: absolute;
    width: 150px;
    height: 45px;
    top: 28px;
    left: 1686px; 
    border: none;
    border-radius: 12px;   
    background: #ED3545;
}

.header__button__text {
    width: 100px;
    height: 19px;
    top: 13px;
    left: 25px;
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.header__welcome {
    position: absolute;
    width: 122px;
    height: 19px;
    top: 41px;
    left: 1545px;    
}

.header__welcome span {
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;    
}
