.restaurant__dashboard {
    position: absolute;
    width: 1918px;
    height: 678px;
    top: 139px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    background-color: #ED3545;
    border: 1px solid #FFF6F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.restaurant__dashboard > .reservation__list {
    width: 599px;
    height: 675px;
    opacity: 0px; 
    background: #FFF6F7;   
}

.restaurant__dashboard > .reservation__list > .rl__header {
    width: 599px;
    height: 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    gap: 0px;
    font-family: Spline Sans;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.restaurant__dashboard > .reservation__list > .rl__header > .rl__title {
    width: 120px;
    height: 19px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.96px;
    margin-left: 31px;
}

.restaurant__dashboard > .reservation__list > .rl__header > .rl__hint {
    width: 191px;
    height: 14px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.22px;
}

.restaurant__dashboard > .reservation__list > .reservations {
    width: 599px;
    height: 381px;
}

.restaurant__dashboard > .reservation__list > .reservations > table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.restaurant__dashboard > .reservation__list > .reservations > table tbody tr {
    height: 53px;
}

.restaurant__dashboard > .reservation__list > .reservations > table .time {
    width: 91px;
    height: 17px;
    margin-left: 31px;
}

.restaurant__dashboard > .reservation__list > .reservations > table .customer {
    width: 108px;
    height: 19px;
}

.restaurant__dashboard > .reservation__list > .reservations > table .table-no {
    width: 46px;
    height: 17px; 
    margin-left: 55px; 
}

.restaurant__dashboard > .reservation__list > .reservations > table tbody .passed {
    text-decoration: line-through;
}


.restaurant__dashboard > .add__table {
    width: 1308px;
    height: 675px;
    background-color: #FFF6F7;
}
