.restaurant__dashboard {
    position: absolute;
    width: 1918px;
    height: var(--dashboard-hight);
    top: 139px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    background-color: #ED3545;
    border: 1px solid #FFF6F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant__dashboard > .reservation__list {
    width: 599px;
    height: var(--dashboard-hight);
    opacity: 0px; 
    background: #FFF6F7;   
}

.restaurant__dashboard > .reservation__list > .rl__header {
    width: 599px;
    height: 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    gap: 0px;
    font-family: Spline Sans;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.restaurant__dashboard > .reservation__list > .rl__header > .rl__title {
    width: 120px;
    height: 19px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.96px;
    margin-left: 31px;
}

.restaurant__dashboard > .reservation__list > .rl__header > .rl__hint {
    width: 191px;
    height: 14px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.22px;
}

.restaurant__dashboard > .reservation__list > .reservations {
    width: 599px;
    height: 381px;
}

.restaurant__dashboard > .reservation__list > .reservations > table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.restaurant__dashboard > .reservation__list > .reservations > table tbody tr {
    height: 55px;
}

.restaurant__dashboard > .reservation__list > .reservations > table .time {
    width: 91px;
    height: 17px;
    margin-left: 31px;
}

.restaurant__dashboard > .reservation__list > .reservations > table .customer {
    width: 108px;
    height: 19px;
}

.restaurant__dashboard > .reservation__list > .reservations > table .table-no {
    width: 46px;
    height: 17px; 
    margin-left: 55px; 
}

.restaurant__dashboard > .reservation__list > .reservations > table tbody .passed {
    text-decoration: line-through;
}


.restaurant__dashboard > .restaurant_tables {
    width: 1308px;
    height: var(--dashboard-hight);
    background-color: #FFF6F7;
}

.restaurant__dashboard .restaurant_tables .add-table-button {
    width: 82px;
    height: 19px;
    margin-top: 11px;
    margin-left: 24px;
    gap: 0px;
    opacity: 0px;   
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;     
}

.restaurant__dashboard .restaurant_tables .restuarant_tables_container {
    width: 873px;
    height: 284px;
    margin-top: 176px;
    margin-left: 217px;
    gap: 0px;
    opacity: 0px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 51px;
}

.restaurant__dashboard .restaurant_tables .restuarant_table_item {
    position: relative;
    width: 102px;
    height: 70px;
    background-color: #861A24;
    border-radius: 12px; 
}

:root {
    --margin-top-1st-section-table-item: 8px;
    --margin-left-1st-section-table-item: 21px;
    --margin-top-2nd-section-table-item: 39px;
    --margin-lef-2nd-section-table-item: 61px;
}

.restaurant__dashboard .restaurant_tables .restuarant_table_item .table-no-vector {
    position: absolute;
    width: 19px;
    height: 19px;
    margin-top: var(--margin-top-1st-section-table-item);
    margin-left: var(--margin-left-1st-section-table-item);
}

.restaurant__dashboard .restaurant_tables .restuarant_table_item .table-no {
    position: absolute;
    width: 24.53px;
    height: 19.28px;
    margin-top: var(--margin-top-1st-section-table-item);
    margin-left: var(--margin-lef-2nd-section-table-item);
}

.restaurant__dashboard .restaurant_tables .restuarant_table_item .seats-vector {
    position: absolute;
    width: 22px;
    height: 18px;
    margin-top: var(--margin-top-2nd-section-table-item);
    margin-left: var(--margin-left-1st-section-table-item);
}

.restaurant__dashboard .restaurant_tables .restuarant_table_item .seats-no {
    position: absolute;
    width: 7.34px;
    height: 19.28px;
    margin-top: var(--margin-top-2nd-section-table-item);
    margin-left: var(--margin-lef-2nd-section-table-item);
}
