<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants Panel</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!--font-->
    <link rel="stylesheet" href="../assets/css/font.css"> 
    <!--styles-->
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/text_color.css">
</head>
<body>
    <header class="bg-white header-sticky">
        <div class="container-fluid header">
            <div class="header__logo">
                <img src="../../assets/images/header/logo/mizdoonit_logo.png" 
                    alt="Mizdooni Logo" class="img-fluid">    
            </div>
            <div class="header__text">
                <p class="text-deep_carmine_pink">
                    Reserve Table From Anywhere!
                </p>
            </div>
            <button class="header__button">
                <span class="header__button__text text-white">Reserve Now!</span>
            </button>
        </div>
    </header>   
    
</body>
</html>