:root {
    --border-radius-restaurant-img: 12px;
}

footer {
    position: absolute;
    top: 1917px;
}

.restaurant-image {
    position: relative;
    width: 698px;
    height: 306px;
    top: 153px;
    left: 238px;
    gap: 0px;
    border-radius: var(--border-radius-restaurant-img);
    opacity: 0px;    
}

.restaurant-image .shadow {
    position: absolute;
    top: 218px;
    bottom: 0;
    width: 100%;
    background-color: rgba(212, 212, 212, 0.9);
    box-shadow: 0 0 10px 5px #D4D4D4;
    border: 1px #D4D4D4;
    border-bottom-left-radius: var(--border-radius-restaurant-img);
    border-bottom-right-radius: var(--border-radius-restaurant-img);
    
}

.restaurant-info {
    position: relative;
    width: 672px;
    height: 324px;
    margin-top: 78px;
    left: 250px;
    gap: 0px;
    border-radius: 12px;
    border: 1px;
    opacity: 0px; 
}

.restaurant-info > .name {
    position: absolute;
    width: 382.49px;
    height: 57px;
    font-family: Spline Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 56.88px;
    text-align: left;    
}

.restaurant-info > .status {
    position: absolute;
    width: 90.62px;
    height: 33px;
    margin-top: 6px;
    margin-left: 571.38px;
    border-radius: 12px 12px 12px 12px;
    background-color: #2B9407;
}

.restaurant-info > .info {
    position: absolute;
    width: 672px;
    height: 247px;
    margin-top: 77px;
}

.restaurant-info > .info > .work-time {
    position: absolute;
    width: 242.53px;
    height: 25px;
    display: inline-block;
}

.restaurant-info > .info > .work-time > img {
    position: relative;
    width: 24.13px;
    height: 20px;
    vertical-align: middle;
}

.restaurant-info > .info > .work-time > span {
    position: relative;
    width: 207.54px;
    height: 24px;
    font-family: Spline Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 23.7px;
    text-align: left;    
    vertical-align: middle;  
}

.restaurant-info > .info > .reviews {
    position: absolute;
    width: 163.26px;
    height: 24px; 
    display: inline-block; 
    margin-left: 288.26px;
}

.restaurant-info > .info > .reviews > img {
    position: relative;
    width: 20.59px;
    height: 22px;
    vertical-align: middle; 
}

.restaurant-info > .info > .reviews > span {
    position: relative;
    width: 139px;
    height: 24px;
    font-family: Spline Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 23.7px;
    text-align: left;
    vertical-align: middle;    
}

.restaurant-info > .info > .type {
    position: absolute;
    width: 77.48px;
    height: 24px;
    display: inline-block;
    margin-left: 503.52px;
}

.restaurant-info > .info > .type > img {
    position: relative;
    width: 10.29px;
    height: 17px;
    vertical-align: middle;     
}

.restaurant-info > .info > .type > span {
    position: relative;
    width: 61px;
    height: 24px;
    font-family: Spline Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 23.7px;
    text-align: left;    
    vertical-align: middle;    
}

.restaurant-info > .info > .location {
    position: absolute;
    width: 271.13px;
    height: 16px;
    margin-top: 35px;
}

.restaurant-info > .info > .location > img {
    position: relative;
    width: 10.55px;
    height: 14px;
    vertical-align: middle;    
}

.restaurant-info > .info > .location > span {
    position: relative;
    width: 251.73px;
    height: 10.18px;
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.96px;
    text-align: left;    
    vertical-align: middle;    
}

.restaurant-info > .info > .description {
    position: absolute;
    width: 669.12px;
    height: 161px;
    margin-top: 65px;
}

.restaurant-info > .info > .description > span {
    width: 669.12px;
    height: 161px;
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.96px;
    text-align: justified;      
}

.reservation {
    position: absolute;
    width: 688px;
    height: 332px;
    top: 164px;
    left: 996px;
    gap: 0px;
    opacity: 0px;
}

.reservation > .title {
    position: absolute;
    width: 295.91px;
    height: 24px;
    gap: 0px;
    opacity: 0px; 
}

.reservation > .info > span {
    font-family: Spline Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.7px;
    text-align: left;    
}

.reservation > .info {
    position: absolute;
    width: 427.11px;
    height: 40px;
    margin-top: 50px;
    gap: 0px;
    opacity: 0px; 
}

.reservation > .info > span:nth-child(1) {
    width: 32.54px;
    height: 19px;
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    vertical-align: middle;     
}

.reservation > .info > .seats-count {
    position: relative;
    width: 84.05px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #F5F5F5;
}

.reservation > .info > .seats-count > img {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
}

.reservation > .info > span:nth-child(3) {
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
}

.reservation > .info > .date {
    width: 188px;
    height: 40px;
    gap: 0px;
    border-radius: 12px;
    border: none;
    opacity: 0px;    
    background-color: #F5F5F5;
}

.reservation > .available-times-title {
    position: absolute;
    width: 300px;
    height: 19px;
    margin-top: 112px;
    gap: 0px;
    opacity: 0px;   
}

.reservation > .available-times-title > span {
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;    
}

.reservation > .times {
    position: absolute;
    width: 679.05px;
    height: 90px;
    top: 147px;
    gap: 0px;
    opacity: 0px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.reservation > .times > button {
    width: 156.93px;
    height: 40px;
    border-radius: 12px;
    border-color: #ED3545;  
    background-color: #FFFCFC;
    color: #ED3545;
}

.reservation > .times > button:hover {
    background-color: #ED3545;
    color: #FFFCFC;
}

.reservation > .res-alert {
    position: absolute;
    width: 643px;
    height: 19px;
    top: 257px;
    gap: 0px;
    opacity: 0px;    
}

.reservation > .res-alert > span {
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left; 
}

.reservation > .submit {
    position: absolute;
    top: 292px;
    margin-left: 4px;
    gap: 0px;
    opacity: 0px;    
}

.reservation > .submit > button {
    width: 680px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #ED3545;  
}

.reservation > .submit > button > span {
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;    
}

.overall-rating {
    position: relative;
    width: 1426px;
    height: 90px;
    top: 76px;
    left: 256px;
    gap: 0px;
    opacity: 0px;  
    background-color: #FFF6F7;
    border-radius: 12px;
}

.overall-rating > .title {
    position: absolute;
    width: 270px;
    height: 26px;
    margin-top: 15px;
    margin-left: 24px;
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: left;    
}

.overall-rating > .scores {
    position: absolute;
    width: 571px;
    height: 56px;
    margin-top: 15px;
    margin-left: 809px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.overall-rating > .scores > .scores-item {
    position: relative;
    height: 56px;
    width: 86px;
}

.overall-rating > .scores > .scores-item > .item-title {
    position: absolute;
    height: 19px;
    width: 76px;
    margin-left: 5px;
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;    
}

.overall-rating > .scores > .scores-item > .score-value {
    position: absolute;
    height: 36px;
    width: 36px;
    margin-left: 25px;
    margin-top: 20px;
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: left;    
}

.overall-rating > .rate {
    position: absolute;
    width: 121px;
    height: 20px;
    margin-top: 55px;
    left: 24px;
    padding-left: 1px;
    padding-right: 1px;
}

.overall-rating > .rate-text {
    position: absolute;
    width: 137px;
    height: 14px;
    margin-top: 60px;
    margin-left: 163px;
    font-family: Spline Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.22px;
    text-align: left;    
}

.comments {
    position: relative;
    width: 1444.01px;
    height: 939px;
    top: 166px;
    left: 250px;
    gap: 0px;
    opacity: 0px;  
}

.comments > .reviews-cnt {
    position: absolute;
    width: 122px;
    height: 26px; 
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: left;    
}

.comments > .add-review-btn {
    position: absolute;
    left: 1282px;
}

.comments > .add-review-btn > button {
    width: 150px;
    height: 45px;
    border-radius: 12px;
    border: none;
    background: #ED3545; 
}

.comments > .add-review-btn > button > span {
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;    
}

.comments > .comments-container {
    position: absolute;
    width: 1444.01px;
    height: 737px;
    top: 95px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 15.505px;
}

.comments > .comments-container > .comment-item {
    width: 1415px;
    height: 95px; 
}

.comments > .comments-container > .comment-item:not(:last-child)::after {
    content: '';
    position: absolute;
    margin-top: 131px;
    margin-left: -14px;  
    width: 1434.01px; 
    height: 2px;
    border: 1px solid #D9D9D9
}

.comments > .comments-container > .comment-item > .user-profile-pic {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #F0B5BA;  
    border-radius: 50%;
}

.comments > .comments-container > .comment-item > .user-profile-pic > span {
    width: 29px;
    height: 26px;
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: left;    
}

.comments > .comments-container > .comment-item > .user-name {
    position: absolute;
    width: 200px;
    height: 26px;
    margin-top: 12px;
    margin-left: 69px;  
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: left;    
}

.comments > .comments-container > .comment-item > .rates {
    position: absolute;
    width: 260px;
    height: 14px;
    margin-top: 50px;
    margin-left: 71px;
    font-family: Spline Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.22px;
    text-align: left;    
}

.comments > .comments-container > .comment-item > .comment-text {
    position: absolute;
    width: 750px;
    height: 19px;
    margin-top: 76px;
    margin-left: 71px;
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;    
}

.comments > .comments-container > .comment-item > .rate-stars {
    position: absolute;
    width: 124px;
    height: 20px;   
    margin-top: 5px;
    margin-left: 1088px;
}

.comments > .comments-container > .comment-item > .rate-stars > img{
    margin-right: 5px;
}

.comments > .comments-container > .comment-item > .date {
    position: absolute;
    width: 190px;
    height: 19px;
    margin-top: 5px;
    margin-left: 1225px;
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;  
}


.comments > .pager {
    position: absolute;
    width: 301px;
    height: 62px;
    top: 877px;
    left: 559px;
    bottom: 0px;  
}
