<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Panel</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!--font-->
    <link rel="stylesheet" href="../assets/css/font.css"> 
    <!--styles-->
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/text_color.css">
    <link rel="stylesheet" href="../assets/css/pages/customer/panel/panel.css">
</head>
<body>
    <header class="bg-white header-sticky">
        <div class="container-fluid header">
            <div class="header__logo">
                <img src="../assets/images/header/logo/mizdoonit_logo.png" 
                    alt="Mizdooni Logo" class="img-fluid">    
            </div>
            <div class="header__text">
                <p class="text-deep_carmine_pink">
                    Reserve Table From Anywhere!
                </p>
            </div>

            <div class="header__welcome">
                <span class="text-black">Welcome, Arshia!</span>
            </div>

            <button class="header__button">
                <span class="header__button__text text-white">Reserve Now!</span>
            </button>
        </div>
    </header>  

    <div class="reservation__alert">
        <div class="item mail">
            <span class="text-black">Your reservations are also emailed to</span>
            <a href="mailto:Tom_holland@ut.ac.ir" class="text-deep_carmine_pink">
                Tom_holland@ut.ac.ir
            </a>
        </div>
        <div class="item address">
            <span class="text-black">Address: Tehran, Iran</span>
        </div>
    </div>

    <div class="reservations__table">
        <table>
            <thead>
                <tr>
                    <th colspan="5"> 
                        <span class="text-black">My Reservations</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="in_progress">
                    <td>
                        <span class="time">2024-06-22 16:00</span>
                    </td>
                    <td class="restaurant__name">Ali Daei Dizi</td>
                    <td class="table__no">Table-12</td>
                    <td class="seats__no">4Seats</td>
                    <td>
                        <div class="action btn btn-sm btn-danger 
                            d-flex align-items-center justify-content-center">
                            Cancel
                        </div>
                    </td>
                </tr>
                <tr class="passed">
                    <td class="time">2024-06-22 16:00</td>
                    <td class="restaurant__name">Ali Daei Dizi</td>
                    <td class="table__no">Table-12</td>
                    <td class="seats__no">4Seats</td>
                    <td>
                        <div class="action btn btn-sm btn-primary
                            d-flex align-items-center justify-content-center">
                            Add Comment 
                        </div>
                    </td>
                </tr>
                <tr class="passed">
                    <td class="time">2024-06-22 16:00</td>
                    <td class="restaurant__name">Ali Daei Dizi</td>
                    <td class="table__no">Table-12</td>
                    <td class="seats__no">4Seats</td>
                    <td>
                        <div class="action btn btn-sm btn-primary
                            d-flex align-items-center justify-content-center">
                            Add Comment 
                        </div>
                    </td>
                </tr>
                <tr class="passed">
                    <td class="time">2024-06-22 16:00</td>
                    <td class="restaurant__name">Ali Daei Dizi</td>
                    <td class="table__no">Table-12</td>
                    <td class="seats__no">4Seats</td>
                    <td>
                        <div class="action btn btn-sm btn-primary
                            d-flex align-items-center justify-content-center">
                            Add Comment 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div>
            <span class="text-white">&copy; 2024 Mizdooni. All rights reserved</span>
        </div>
    </footer>
</body>
</html>