<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!--font-->
    <link rel="stylesheet" href="../assets/css/font.css"> 
    <!--styles-->
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/text_color.css">
    <link rel="stylesheet" href="../../assets/css/pages/restaurant/restaurant_info.css">
</head>
<body>
    <header class="bg-white header-sticky">
        <div class="container-fluid header">
            <div class="header__logo">
                <img src="../../assets/images/header/logo/mizdoonit_logo.png" 
                    alt="Mizdooni Logo" class="img-fluid">    
            </div>
            <div class="header__text">
                <p class="text-deep_carmine_pink">
                    Reserve Table From Anywhere!
                </p>
            </div>
            <button class="header__button">
                <span class="header__button__text text-white">My Reservations</span>
            </button>
        </div>
    </header>  

    <div class="restaurant-image">
        <img src="../../assets/images/mock/restaurants/dizi_ali_daei.png" 
            alt="Dizi Ali Daei" class="img-fluid">
        <div class="shadow"></div>
    </div>
    
    <div class="restaurant-info">
        <div class="name text-black">
            Dizi Ali Daei
        </div>
        <div class="status d-flex align-items-center justify-content-center">
            <span class="text-white">Open!</span>
        </div>
        <div class="info">
            <div class="work-time">
                <img src="../../assets/images/util/vector/clock.png" alt="Clock Vector"
                    class="img-fluid">
                <span class="text-black">From 11 AM to 10 PM</span>
            </div>
            <div class="reviews">
                <img src="../../assets/images/util/vector/carbon_review.png" 
                    alt="Carbon Review Vector" class="img-fluid">
                <span class="text-black">160 Reviews</span>
            </div>
            <div class="type">
                <img src="../../assets/images/util/vector/spoon_fork.png"
                    alt="Spoon Fork Vector" class="img-fluid">
                <span>Dizy</span>
            </div>
            <div class="location">
                <img src="../../assets/images/util/vector/location_medium_gray.png" 
                    alt="Location Vector" class="img-fluid">
                <span class="text-medium-gray">Iran,  Boshehr, Vali-e-Asr Square</span>
            </div>
            <div class="description">
                <span class="text-black">
                    Ali Daei Dizy restaurant is a cultural oasis in the heart of the city, serving up the best of traditional Iranian cuisine. 
                    <br>
                    With a menu that boasts a diverse selection of flavorful dishes such as kebabs, stews, and rice dishes, 
                    guests will experience the richness and depth of Persian flavors. The ambiance of the restaurant is warm and inviting,
                    with intricate Persian rugs adorning the walls and the soothing sounds of traditional Iranian music playing in the background. 
                    <br>
                    Whether you're looking to indulge in a delicious meal with friends or simply craving a taste of Iran, Ali Daei Dizy restaurant is 
                    the perfect spot to satisfy your culinary cravings.
                </span>
            </div>
        </div>
    </div>

    <div class="reservation">
        <div class="title">
            <span class="text-black">Reserve Table</span>
        </div>
        <div class="info">
            <span class="text-black">For</span>
            <button class="seats-count">
                <span class="text-black">2</span>
                <img src="../../assets/images/util/dropdown_button.png"
                    alt="Vector Dropdow" class="img-fluid">
            </button>
            <span class="text-black">peaple, on date</span>
            <button class="date">
                <img src="../../assets/images/util/vector/solar_calendar.png"
                    alt="Solar Calendar" class="img-fluid">
                <span>2024-02-18</span>
            </button>
        </div>
        <div class="available-times-title">
            <span class="text-night">Available Times for Table #1 (2 seats)</span>
        </div>
        <div class="times">
            <button class="btn btn-danger">
                <span>11:00 PM</span>
            </button>
            <button class="btn btn-danger">
                <span>12:00 PM</span>
            </button>
            <button class="btn btn-danger">
                <span>13:00 PM</span>
            </button>
            <button class="btn btn-danger">
                <span>14:00 PM</span>
            </button>
            <button class="btn btn-danger">
                <span>15:00 PM</span>
            </button>
            <button class="btn btn-danger">
                <span>18:00 PM</span>
            </button>
            <button class="btn btn-danger">
                <span>19:00 PM</span>
            </button>
            <button class="btn btn-danger">
                <span>20:00 PM</span>
            </button>
        </div>
        <div class="res-alert">
            <span class="text-deep_carmine_pink">
                You  will reserve this table  only for one  hour, for more time please contact the restaurant.
            </span>
        </div>
        <div class="submit">
            <button>
                <span class="text-white">Complete Reservation</span>
            </button>
        </div>
    </div>

</body>
</html>