.main {
    background-image: url(../../images/pages/home/background.png);
    width: 1920px;
    height: 830px;
    top: -200px;
    left: -231px;
}

.main__search {
    position: absolute;
    width: 704px;
    height: 317px;
    top: 297px;
    left: 231px;
}

.main__searchicon {
    position: absolute;
    width: 319px;
    height: 250.37px;
    left: 192px;
}

.main__searchbox {
    position: absolute;
    width: 614px;
    height: 45.43px;
    top: 271.57px;
    left: 60px;
}

.main__searchbox .search-location {
    position: absolute;
    width: 117px;
    height: 40.38px;
    border-radius: 12px; 
    border: none;  
    background-color: #FFFCFC;
}

.main__searchbox .search-location span {
    position: absolute;
    width: 57px;
    height: 16px;
    top: 12px;
    left: 12px;
    font-family: Spline Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.search-location #dropdown_button {
    position: absolute;
    width: 6.63px;
    height: 4.22px;
    top: 20.19px;
    left: 99px;        
}

.main__searchbox .search-resturant {
    position: absolute;
    width: 111px;
    height: 40.38px;
    left: 138px;
    border-radius: 12px;
    background-color: #FFFCFC;
}

.main__searchbox .search-resturant span {
    position: absolute;  
    width: 71px;
    height: 16px;
    top: 12px;
    left: 12px;
    font-family: Spline Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;    
}

.search-resturant #dropdown_button {
    position: absolute;
    width: 6.94px;
    height: 4.22px;
    top: 20.19px;
    left: 94px;       
}

.main__search .input__restaurant {
    position: absolute;
    width: 253.49px;
    height: 40.38px;
    left: 265.72px;
    border-radius: 12px;
    border: none;   
    background-color: #FFFCFC;
}

.main__search .input__restaurant::placeholder {
    position: absolute;
    width: 240px;
    height: 15.11px;
    top: 12px;
    left: 13px;
    font-family: Spline Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;    
    color: #7E7E7E;    
}

.main__search .search-btn {
    position: absolute;
    width: 90px;
    height: 40.38px;
    left: 534px;
    border-radius: 12px;
    background: #ED3545;    
}

.main__search .search-btn span {
    position: absolute;
    width: 45px;
    height: 15.14px;
    top: 12.11px;
    left: 22px; 
    font-family: Spline Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;           
}
